body {
  padding: 0;
  background-color: #D3D3D3;
}

.header{

  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #212121;
  }

.nav{
  float:right;
  display: inline-block;
  margin-right: 10%;
}

.logo {
  flex: 1;
  margin-left: 10%;
}

.navul {
  display: flex;
}

.nav li {
  list-style: none;
  margin-left: 45px;
  padding-top: 2%;
}

a {
  text-decoration: none;
  color: white;
  }

#banner {
  width: 100%;
}

#title {
  text-align: center;
}

#billede1 {
margin-left: 10%;
float: left;
}

#teksttilbillede1 {
  margin-right: 10%;
  margin-left: 40%;

}
