body {
  padding: 0;
    background-color: #DED9D6;
}

.header{

  background-color: #E0E0E0;
  width: 100%;
  height: 80px;
  display: flex;
  }

.nav{
  float:right;
  display: inline-block;
}

.logo {
  flex: 1;
  height: 50%;
  width: 50%;
}

.navul {
  display: flex;
}

.nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  background-color: #E0E0E0;
  }
