body {
  padding: 0;
}

.header{

  background-color: #E0E0E0;
  width: 100%;
  height: 80px;
  display: flex;
  }

.nav{
  float:right;
  display: inline-block;
}

.logo {
  flex: 1;
  height: 10%;
  width: 10%;
}

.navul {
  display: flex;
}

.nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  background-color: #E0E0E0;
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
  }
